*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('Resources/gufBG.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gate-container{
    height: 500px;
    width: 500px;
    isolation: isolate;
}

.gate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    position: relative;
}

.open-gates-guf{ /*placed behind gates, will show when gates open*/
    width: 400px;
    height: 400px;
    border-radius: 75% 75% 0 0; /* change this to 100% when opening gates*/
    background-color: white;
    z-index: 0;
    position: absolute;
}

.door{
    width: 200px;
    height: 200px;
    background-color: brown;
    border-bottom: 0;
    position: relative;
    z-index: 2;
    transform-origin: center bottom;
    transform-style: preserve-3d;
}

.left-door{
    border-radius: 75% 0 0 0; /*Top-left, Top-right, Bot-Left, Bot-right*/
    animation-name: openGate-left;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    

}

.right-door{
    border-radius: 0 75% 0 0;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-name: openGate-right;
}

.bot-half-door{
    background-color: brown;
    width: 200px;
    height: 200px;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.bot-left{
    animation-name: openGate-left;
}

.bot-right{
    animation-name: openGate-right;
}

@keyframes openGate-left{
    0%{

    }

    100%{
        transform: translateX(-200px) rotateY(-180deg);
    }
}

@keyframes openGate-right {
    0%{

    }

    100%{
        transform: translateX(200px) rotateY(-180deg);
    }
}

