*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('Resources/gufBG.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gate-container{
    border: 1px solid yellow;
    height: 500px;
    width: 500px;
}
